.list{
    background-image:url("https://ik.imagekit.io/4z8covdo9/Full stack/todolistbg.png?updatedAt=1700761069523") ;
    width: 325px;
    height: 556px;
    background-size: cover;
    color: rgb(255, 255, 255);
    
}