.bg-hero-container{
    background-image: url("https://ik.imagekit.io/tnw9mtksh/my%20assets/proxy-image_piurl=https_3A_2F_2Ftse3.mm.bing.net_2Fth_3Fid_3DOIP.DQv2uM_sfEXdlkCcvgni0wHaHa_26pid_3DApi&sp=1737822190T4be728ce2483a4ec2c618dd08b9780debcf2ad487425a1415dfb3e0e43eeddde?updatedAt=1737822374035") ;
    background-size: cover;
    height: 100vh;
}